body {
  background-image: url("");
  background-color: linen;
  box-shadow: rgba(9, 135, 238, 0.884);
}

.loginbox{
  padding: 14px 16px;
  margin-left: 40%;
   width: 50%;
}

.settingspplcon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: lightcoral; */
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;

}
