/* body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
} */
 .div1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  height: 200px;
  width: 500px;
 }