

  body{
    background-color: slategrey;
  }

  

  .div22 {
    list-style-type: none;
    margin: 7px;
    padding: 8px;
    overflow: hidden;
    background-color: rosybrown;
    border: 1px solid #4a036bbd;
    
  }
  
  .btn {
    float: left;
  }
  
  /* .bbbb {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  } */

  li:last-child {
    border-right: none;
  }
  
  .btn {
    background-color: #111;
  }


 .btn:hover{
     background-color: seashell;
 }

.bbbb:hover{
  background-color: seashell;

}

.btn{
  /* margin-top: 25%; */
border-radius: 30px;

}  

.NavBwr4{
  border-radius: 30px;
  float: left;
margin-left: 30px;
overflow: hidden;

}

li:last-child {
  border-right: none;
}


/* .NavBwr4:hover{
  background-color: seashell;
} */
